nav {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  background: rgb(33, 33, 34);
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.Name {
  text-decoration: none;
  color: rgb(231, 199, 19);
}

@media only screen and (max-width: 992px) {
  nav {
    width: 100%;
    min-width: unset;
  }
}

@media only screen and (max-width: 767px) {
  .nav-links a{
    font-size: 18px!important;
  }
}
@media only screen and (max-width: 363px) {
  nav {
    width: 100%;
    min-width: unset;
  }
}
